<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./style.css"> -->
    <link rel="stylesheet" href="../public/style.css">
</head>
<body class="bg-red-400">
    
    <h1 class="text-gray-800">Silahkan login</h1>

    <input type="text" id="" placeholder="jenis kelamin" name="RegisterGender">

    <input type="email" id="" placeholder="masukkan email" name="RegisterEmail">

    <input type="password" id="" placeholder="masukkan password" name="RegisterPassword">

    <input type="text" id="" placeholder="masukkan nama" name="RegisterName">
    <button>Login</button>

</body>
</html>